*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /*usa se "--" para iniciar uma indiacação de variavel, para se utilizar a variavel usa-se var() entre os parentêses coloca-se --"nome da variavel escolhida... coforme mostra a baixo nome da variavel é "text-color" */
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color:  rgba(255, 255, 255, 0.2);
  --switch-bg-url:  url(./assets/moon-stars.svg);
}

.light{
  --text-color:black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color:rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color:  rgba(0, 0, 0, 0.1);
  --switch-bg-url:  url(./assets/sun.svg);
}

body{

    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
    /* "vh" significa viewport height, server para deixar a altura do tamanho da viewport ou seja do tamanho que a tela ficar.*/

    }

    body *{
     font-family: "Inter", sans-serif;
     color: var(--text-color) ;
    }

      #container{
          width: 100% ;
          max-width: 588px;
          margin: 56px auto 0px;
          padding: 0 24px;
    
      }
      #profile {
        text-align: center;
        padding: 24px;
    

      }
      #profile img {
        width: 112px;
        border-radius: 45%;
      }
      #profile p {
        font-weight: 500;
        line-height: 24px;
        margin-top: 8px;
      }
      #switch{
        position: relative;
        width: 64px;

        margin: 4px auto;
      }


      #switch button{
        width: 32px;
        height: 32px;
        background: white var(--switch-bg-url) no-repeat center;
        border: 0;
        border-radius: 50%;

        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        transform: translateY(-50%);

      }
      .light #switch button{
        right: 0 ;
        left: initial;
      }

      #switch span{
        display: block;
        width: 64px;
        height: 24px; 
        background: var(--surface-color);
        border: 1px solid var(--stroke-color);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 9999px;
      }


      ul {
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px 0;
      }
      ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
  
        background: var(--surface-color);
        border: 1px solid var(--stroke-color);
        /*Border-radius é usado para arredondar algumas bordas*/
        border-radius: 8px;
        backdrop-filter: blur(4px);
        -webkit-backgroud-filter: blur(4px);
        /*text-decoration posso usar para colocar linhas palavras temos como exemplo o "none" para retirar qualquer linha, "overline" para colocar uma linha em cima da escrita, temos também o "overline" para colocar linhas embaixo das letras */
        text-decoration: none;
        /* Esta tag é apenas para decidir o tamanho a fonte*/
        font-weight: 500;
        /* transition ser para fazer transições posso usar "all" para a fazer essa transição na pagina inteira ou escolher somente 1 elemento como fiz no código abaixo*/
        transition: background 0.2s;
      }

      /*pseudo-selector = Quando passar o cursor em cima gerar uma ação*/
      ul li a:hover{
        background: var(--surface-color-hover);
        border: 0.5px solid var(--text-color);
      }
      /* social links*/
      #social-links{
        /*Display: flex; foi usando para que eu consiga usar um "gap" */
        display: flex;
        justify-content: center;
        padding: 24px 0;
        font-size: 24px;
        
      }

      #social-links a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        border-radius: 50%;
        transition: background  0.2s;
      }
      #social-links a:hover{
        background: var(--highlight-color);
        border-radius: 50%;
      }
      footer{
        padding: 24px 0;
        text-align: center;
        font-size: 14px;
      }

      /*Media queries*/
      @media (min-width: 700px){
        :root {
          --bg-url: url(./assets/bg-desktop.jpg)
        }

        .light {
          --bg-url: url(./assests/bg-desktop-light.jpg)
        }
      }

